{% extends "base.html" %}
{% block content %}
<h1 class="h1">My services</h1>
<table class="table table-striped table-bordered ">
    <tr>
        <th>Skill</th>
        <th>Slot</th>
        <th>Action</th>
    </tr>
    {% for booking in bookings%}
    <tr>
        <td>{{ booking.slot.user_skill.skill.name }}</td>
        <td>{{ booking.slot.slot_date }}
        <td>
            <form method="post" action="{% url 'skillbook:delete_service' booking.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete service</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}