{% extends "base.html" %}
{% block content %}
<h1 class="h1">Skills list</h1>
<h2 class="h2">Add a new skill</h2>
<form method="post" action="{% url 'skillbook:add_skill' %}">
    {% csrf_token %}
    <label for="name">New skill name : </label>
    <input type="text" id="name" name="name" placeholder="Enter name">
    <input type="submit" class="btn btn-info">Submit</input>
</form>
<h2 class="h2">Available skills</h2>
<table class="table table-striped table-bordered ">
    <tr>
        <th>Skill name</th>
        <th>Action</th>
    </tr>
    {% for skill in skills%}
    <tr>
        <td>{{ skill.name }}</td>
        <td>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'skillbook:add_my_skill' skill.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add to my skills</button>
            </form>
            {% else %}
            Please login to add to your skills or remove from them
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<h2 class="h2">My skills</h2>
<table class="table table-striped table-bordered ">
    <tr>
        <th>Skill name</th>
        <th>Action</th>
    </tr>
    {% for skill in user_skills%}
    <tr>
        <td>{{ skill.skill.name }}</td>
        <td>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'skillbook:remove_my_skill' skill.skill.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Remove from my skills</button>
            </form>
            {% else %}
            Please login to add to your skills or remove from them
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}